# Electrical demand, generation by type and weather

https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather?select=weather_features.csv

## Dataset

Context

In a paper released early 2019 (https://arxiv.org/abs/1906.05433), forecasting in energy markets is identified as one of the highest leverage contribution areas of Machine/Deep Learning toward transitioning to a renewable based electrical infrastructure.

Content

This dataset contains 4 years of electrical consumption, generation, pricing, and weather data for Spain. Consumption and generation data was retrieved from ENTSOE a public portal for Transmission Service Operator (TSO) data. Settlement prices were obtained from the Spanish TSO Red Electric España. Weather data was purchased as part of a personal project from the Open Weather API for the 5 largest cities in Spain and made public here.


Inspiration

The dataset is unique because it contains hourly data for electrical consumption and the respective forecasts by the TSO for consumption and pricing. This allows prospective forecasts to be benchmarked against the current state of the art forecasts being used in industry.

* Visualize the load and marginal supply curves.
* What weather measurements, and cities influence most the electrical demand, prices, generation capacity?
* Can we forecast 24 hours in advance better than the TSO?
* Can we predict electrical price by time of day better than TSO?
* Forecast intraday price or electrical demand hour-by-hour.
* What is the next generation source to be activated on the load curve?

## Utilities

In [23]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os

from dotenv import load_dotenv
load_dotenv()

True

## EDA

### Energy Data

In [25]:
# Get data path
data_path = os.getenv('data_path')

# Load energy data
energy_data = pd.read_csv(fr'{data_path}\energy_dataset.csv')

# Change time column to datetime type
energy_data['time'] = pd.to_datetime(energy_data['time'])

# View df head and tail
energy_data

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,277.0,0.0,3113.0,96.0,NaN,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,280.0,0.0,3288.0,51.0,NaN,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,286.0,0.0,3503.0,36.0,NaN,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3586.0,29.0,NaN,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3651.0,26.0,NaN,3117.0,24424.0,24455.0,64.27,69.88

In [11]:
# Find min and max dates in dataset
print(f"The earliest timestamp in the data is: {energy_data['time'].min()}")
print("------------------------------------------")
print(f"The latest timestamp in the data is: {energy_data['time'].max()}")

The earliest timestamp in the data is: 2015-01-01 00:00:00+01:00
------------------------------------------
The latest timestamp in the data is: 2018-12-31 23:00:00+01:00

In [12]:
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [13]:
energy_data.describe().T

,count,mean,std,min,25%,50%,75%,max
generation biomass,35045.0,383.513540,85.353943,0.00,333.0000,367.00,433.00,592.00
generation fossil brown coal/lignite,35046.0,448.059208,354.568590,0.00,0.0000,509.00,757.00,999.00
generation fossil coal-derived gas,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation fossil gas,35046.0,5622.737488,2201.830478,0.00,4126.0000,4969.00,6429.00,20034.00
generation fossil hard coal,35046.0,4256.065742,1961.601013,0.00,2527.0000,4474.00,5838.75,8359.00
generation fossil oil,35045.0,298.319789,52.520673,0.00,263.0000,300.00,330.00,449.00
generation fossil oil shale,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation fossil peat,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation geothermal,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation hydro pumped storage aggregated,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
generation hydro pumped storage consumption,35045.0,475.577343,792.406614,0.00,0.0000,68.00,616.00,4523.00
generation hydro run-of-river and poundage,35045.0,972.116108,400.777536,0.00,637.0000,906.00,1250.00,2000.00
generation hydro water reservoir,35046.0,2605.114735,1835.199745,0.00,1077.2500,2164.00,3757.00,9728.00
generation marine,35045.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation nuclear,35047.0,6263.907039,839.667958,0.00,5760.0000,6566.00,7025.00,7117.00
generation other,35046.0,60.228585,20.238381,0.00,53.0000,57.00,80.00,106.00
generation other renewable,35046.0,85.639702,14.077554,0.00,73.0000,88.00,97.00,119.00
generation solar,35046.0,1432.665925,1680.119887,0.00,71.0000,616.00,2578.00,5792.00
generation waste,35045.0,269.452133,50.195536,0.00,240.0000,279.00,310.00,357.00
generation wind offshore,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation wind onshore,35046.0,5464.479769,3213.691587,0.00,2933.0000,4849.00,7398.00,17436.00
forecast solar day ahead,35064.0,1439.066735,1677.703355,0.00,69.0000,576.00,2636.00,5836.00
forecast wind offshore eday ahead,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
forecast wind onshore day ahead,35064.0,5471.216689,3176.312853,237.00,2979.0000,4855.00,7353.00,17430.00
total load forecast,35064.0,28712.129962,4594.100854,18105.00,24793.7500,28906.00,32263.25,41390.00
total load actual,35028.0,28696.939905,4574.987950,18041.00,24807.7500,28901.00,32192.00,41015.00
price day ahead,35064.0,49.874341,14.618900,2.06,41.4900,50.52,60.53,101.99
price actual,35064.0,57.884023,14.204083,9.33,49.3475,58.02,68.01,116.80

### Weather data

In [26]:
# Get data path
data_path = os.getenv('data_path')

# Load energy data
weather_data = pd.read_csv(fr'{data_path}\weather_features.csv')

# Change dt_iso column to datetime type
weather_data['dt_iso'] = pd.to_datetime(weather_data['dt_iso'])

# View df head and tail
weather_data

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 19:00:00+01:00,Seville,287.760,287.150,288.150,1028,54,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178392,2018-12-31 20:00:00+01:00,Seville,285.760,285.150,286.150,1029,62,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178393,2018-12-31 21:00:00+01:00,Seville,285.150,285.150,285.150,1028,58,4,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178394,2018-12-31 22:00:00+01:00,Seville,284.150,284.150,284.150,1029,57,4,60,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178395,2018-12-31 23:00:00+01:00,Seville,283.970,282.150,285.150,1029,70,3,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [18]:
# Find min and max dates in dataset
print(f"The earliest timestamp in the data is: {weather_data['dt_iso'].min()}")
print("------------------------------------------")
print(f"The latest timestamp in the data is: {weather_data['dt_iso'].max()}")

The earliest timestamp in the data is: 2015-01-01 00:00:00+01:00
------------------------------------------
The latest timestamp in the data is: 2018-12-31 23:00:00+01:00

In [19]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_iso               178396 non-null  object
 1   city_name            178396 non-null  object
 2   temp                 178396 non-null  float64
 3   temp_min             178396 non-null  float64
 4   temp_max             178396 non-null  float64
 5   pressure             178396 non-null  int64
 6   humidity             178396 non-null  int64
 7   wind_speed           178396 non-null  int64
 8   wind_deg             178396 non-null  int64
 9   rain_1h              178396 non-null  float64
 10  rain_3h              178396 non-null  float64
 11  snow_3h              178396 non-null  float64
 12  clouds_all           178396 non-null  int64
 13  weather_id           178396 non-null  int64
 14  weather_main         178396 non-null  object
 15  weather_description  178396 non-null  object
 16  weather_icon         178396 non-null  object
dtypes: float64(6), int64(6), object(5)
memory usage: 23.1+ MB

In [21]:
weather_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
dt_iso,178396,35064,2015-10-01 02:00:00+02:00,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_name,178396,5,Madrid,36267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
temp,178396.0,NaN,NaN,NaN,289.618605,8.026199,262.24,283.67,289.15,295.15,315.6
temp_min,178396.0,NaN,NaN,NaN,288.330442,7.955491,262.24,282.483602,288.15,293.730125,315.15
temp_max,178396.0,NaN,NaN,NaN,291.091267,8.612454,262.24,284.65,290.15,297.15,321.15
pressure,178396.0,NaN,NaN,NaN,1069.26074,5969.631893,0.0,1013.0,1018.0,1022.0,1008371.0
humidity,178396.0,NaN,NaN,NaN,68.423457,21.902888,0.0,53.0,72.0,87.0,100.0
wind_speed,178396.0,NaN,NaN,NaN,2.47056,2.09591,0.0,1.0,2.0,4.0,133.0
wind_deg,178396.0,NaN,NaN,NaN,166.59119,116.611927,0.0,55.0,177.0,270.0,360.0
rain_1h,178396.0,NaN,NaN,NaN,0.075492,0.398847,0.0,0.0,0.0,0.0,12.0
rain_3h,178396.0,NaN,NaN,NaN,0.00038,0.007288,0.0,0.0,0.0,0.0,2.315
snow_3h,178396.0,NaN,NaN,NaN,0.004763,0.222604,0.0,0.0,0.0,0.0,21.5
clouds_all,178396.0,NaN,NaN,NaN,25.073292,30.774129,0.0,0.0,20.0,40.0,100.0
weather_id,178396.0,NaN,NaN,NaN,759.831902,108.733223,200.0,800.0,800.0,801.0,804.0
weather_main,178396,12,clear,82685,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weather_description,178396,43,sky is clear,82685,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weather_icon,178396,24,01n,38541,NaN,NaN,NaN,NaN,NaN,NaN,NaN